@model IEnumerable<ClaseDatos.Ficha>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared-Aprendiz/_Layout.cshtml";
}

<style>
    /* Estilos generales para la paginación */
    .paginacion {
        display: flex;
        margin-bottom: 20px;
    }

    .pagination {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .page-item {
        display: inline-block;
        margin: 0 5px;
    }

    .page-link {
        display: block;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #333;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    /* Estilo para la página activa */
    .page-item.active .page-link {
        background-color: #24695c; /* Color de fondo azul */
        color: white;
        border-color: #24695c;
    }

    /* Estilo para el hover */
    .page-link:hover {
        background-color: #f5f5f5; /* Color de fondo gris claro */
    }
</style>

<br />
<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3>General</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                <li class="breadcrumb-item">Aprendiz</li>
                <li class="breadcrumb-item active">Panel Principal</li>
            </ol>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</div>

<!-- Container-fluid starts-->
<div class="container-fluid general-widget">
    <div class="row">
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="database"></i></div>
                        <div class="media-body">
                            <span class="m-0">Asistencias</span>
                            <h4 class="mb-0 counter">@ViewBag.Total_Asistencias</h4><i class="icon-bg" data-feather="database"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-secondary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
                        <div class="media-body">
                            <span class="m-0">Inasistencias</span>
                            <h4 class="mb-0 counter">@ViewBag.Total_Inasistencias</h4><i class="icon-bg" data-feather="calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
                        <div class="media-body">
                            <span class="m-0">Justificaciones Inasistencias</span>
                            <h4 class="mb-0 counter">@ViewBag.Total_Soporte</h4><i class="icon-bg" data-feather="layers"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
                        <div class="media-body">
                            <span class="m-0">Fichas en Formación</span>
                            <h4 class="mb-0 counter">@ViewBag.TotalFichas</h4><i class="icon-bg" data-feather="user-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid user-card">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-6 col-xl-4 box-col-6">
                        <div class="card custom-card">
                            <div class="text-center profile-details">

                                <h4>Ficha - @Html.DisplayFor(modelItem => item.Codigo_ficha)</h4>

                                <h6>@Html.DisplayFor(model => item.Programa_formacion.Nombre_programa)</h6>
                            </div>
                            <div class="card-footer row">
                                <div class="col-4 col-sm-4">
                                    <h6>Asistencias</h6>
                                    <h3 class="counter">@ViewBag.AsistenciasPorFicha[item.Id_ficha]</h3>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <h6>Inasistencias</h6>
                                    <h3 class="counter">@ViewBag.RegistrosFaltantesPorFicha[item.Id_ficha]</h3>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <h6>Soportes</h6>
                                    <h3 class="counter">@ViewBag.RegistrosSoportePorFicha[item.Id_ficha]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="paginacion">
                <ul class="pagination">
                    @for (int i = 1; i <= Math.Ceiling((double)ViewBag.TotalRegistros / 6); i++)
                    {
                        <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { estadoFiltro = ViewBag.EstadoFiltro, pagina = i })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Documento_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esinstructormaster_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Documento_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esinstructormaster_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ficha.Jornada_ficha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_usuario }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_usuario }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_usuario })
            </td>
        </tr>
    }

    </table>*@
