@model IEnumerable<ClaseDatos.Competencia>




<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Competncias asociados al programa: @ViewBag.NombrePrograma</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                    <li class="breadcrumb-item">Programa de Formacion</li>
                    <li class="breadcrumb-item">@ViewBag.NombrePrograma</li>
                    <li class="breadcrumb-item active">Consultar Competencias</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <!-- Bookmark Start-->
                <div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                        <li>
                            <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                    <input type="text" placeholder="Search..">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Bookmark Ends-->
            </div>
        </div>
    </div>
</div>
<!-- Individual column searching (text inputs) Starts-->
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Tabla de datos - Competencias</h5>
            <br />
            @Html.ActionLink("Asociar Nueva Competencia", "Programas_Competencias_Asociar", new { programaId = ViewBag.ProgramaId }, new { @class = "btn btn-primary" })
        </div>
        @using (Html.BeginForm("Index", "Programa_formacion", FormMethod.Get))
        {
            <label for="estadoFiltro">Estado:</label>
            <select id="estadoFiltro" name="estadoFiltro">
                <option value="" @(ViewBag.EstadoFiltro == "" ? "selected" : "")>Todos</option>
                <option value="true" @(ViewBag.EstadoFiltro == "true" ? "selected" : "")>Activo</option>
                <option value="false" @(ViewBag.EstadoFiltro == "false" ? "selected" : "")>No Activo</option>
            </select>
            <input type="submit" value="Filtrar" />
        }
        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("GenerarReportePDF", "Competencias")'">
                Generar Reporte PDF
            </button>
            <div class="table-responsive">
                <table class="display datatables" id="ajax-data-object">
                    <thead>

                        <tr>
                            <th>Id</th>
                            <th>Tipo</th>
                            <th>Nombre</th>
                            @*<th>Programa Formacion</th>*@
                            <th>Acciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id_competencia)</td>
                                @*<td>@Html.DisplayFor(model => item.Nombre_ficha)</td>*@
                                <td>@Html.DisplayFor(model => item.tipo_competencia)</td>
                                <td>@Html.DisplayFor(model => item.Nombre_competencia)</td>
                                @*<td>@Html.DisplayFor(model => item.Programa_formacion)</td>*@
                                @*<td>@Html.DisplayFor(model => item.Ficha.Id_ficha)</td>*@
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Tipo</th>
                            <th>Nombre</th>
                            @*<th>Programa Formacion</th>*@
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


