@model ClaseDatos.Usuario

<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Instructores asociados a la Ficha: @ViewBag.CodigoFicha</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                    <li class="breadcrumb-item">Ficha</li>
                    <li class="breadcrumb-item">@ViewBag.CodigoFicha</li>
                    <li class="breadcrumb-item active">Asociar Instructor</li>
                </ol>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Asociar_Instructor_Ficha", "Fichas", new { idFicha = ViewBag.FichaId }, FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Asignar Instructor</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                @Html.AntiForgeryToken()
                                <form>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Seleccionar Instructor:</label>
                                        <div class="input-group">
                                            @Html.DropDownList("instructorId", new SelectList(ViewBag.Instructores, "Id_usuario", "Nombre_usuario"), "Seleccionar Instructor", new { @class = "js-example-basic-single col-sm-12 form-control" })
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.Id_usuario, "", new { @class = "text-danger" })*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button class="btn btn-light" type="button"><a href="@Url.Action("Aprendices_Ficha","Fichas", new { id = @ViewBag.FichaId })">Volver</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Id_usuario)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>



@*<h2>Agregar Instructor a la Ficha @ViewBag.FichaId</h2>

@using (Html.BeginForm("Asociar_Instructor_Ficha", "Fichas", new { idFicha = ViewBag.FichaId }, FormMethod.Post))
{
    <div class="form-group">
        <label for="aprendizId">Seleccionar Aprendiz:</label>
        @Html.DropDownList("instructorId", new SelectList(ViewBag.Instructores, "Id_usuario", "Nombre_usuario"), "Seleccionar Instructor", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
}*@

