@model ClaseDatos.Ficha

@{
    ViewBag.Title = "Edit";
}

<br />
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Gestionar Fichas</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                    <li class="breadcrumb-item">Fichas</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <!-- Bookmark Start-->
                <div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                        <li>
                            <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                    <input type="text" placeholder="Search..">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Bookmark Ends-->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Editar Ficha</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form>
                                     @Html.HiddenFor(model => model.Id_ficha)
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Codigo Ficha</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Codigo_ficha, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Codigo_ficha, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Jornada</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Jornada_ficha, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Jornada_ficha, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Modalidad</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Modalidad_ficha, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Modalidad_ficha, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Tipo Ficha</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tipo_ficha, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Modalidad_ficha, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Programa de formación</label>
                                        <div class="input-group">
                                            @Html.DropDownList("Id_programa", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Id_programa, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Fecha inicio</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Fecha_inicio, new { htmlAttributes = new { @class = "form-control digits", @type = "date" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Fecha_inicio, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Fecha fin</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Fecha_fin, new { htmlAttributes = new { @class = "form-control digits", @type = "date" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Fecha_fin, "", new { @class = "text-danger" })
                                    </div>
                                    @*@Html.HiddenFor(model => model.Id_Usuario, new { Value = @Session["Idusuario"].ToString() })
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Estado Ficha</label>
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.Estado_Ficha, new List<SelectListItem>
                                                {
                                                     new SelectListItem { Text = "Activo", Value = "True" },
                                                     new SelectListItem { Text = "No Activo", Value = "False" },
                                                }, new { @class = "form-control" })

                                        </div>
                                    </div>*@

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary m-r-15" type="submit">Submit</button>
                        <button class="btn btn-light" type="button"><a href="@Url.Action("Index","Fichas")">Cancelar</a></button>
                    </div>
                </div>
            </div>
        </div>
    }
  
<script>
    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Id_ficha)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>

@*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ficha</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_ficha)

            <div class="form-group">
                @Html.LabelFor(model => model.Jornada_ficha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Jornada_ficha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Jornada_ficha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Modalidad_ficha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Modalidad_ficha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Modalidad_ficha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tipo_ficha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo_ficha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo_ficha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_programa, "Id_programa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_programa", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_programa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
