@model ClaseDatos.Competencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_competencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_competencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programa_formacion.Nombre_programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programa_formacion.Nombre_programa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha.Jornada_ficha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_competencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
