@model ClaseDatos.Ficha_has_Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Ficha_has_Usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ficha.Jornada_ficha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Usuario.Tipo_Documento_usuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Usuario.Tipo_Documento_usuario)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
