<!--@model ClaseDatos.Usuario

@{
    ViewBag.Title = "Details";
}


<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Gestionar Fichas</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Fichas</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Consultar</li>
                </ol>
            </div>
            <div class="col-sm-6">-->
                <!-- Bookmark Start-->
                <!--<div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                        <li>
                            <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                    <input type="text" placeholder="Search..">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>-->
                <!-- Bookmark Ends-->
            <!--</div>
        </div>
    </div>
</div>-->
<!-- Individual column searching (text inputs) Starts-->
@*<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Individual column searching (text inputs) </h5><span>The searching functionality provided by DataTables is useful for quickly search through the information in the table - however the search is global, and you may wish to present controls that search on specific columns.</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display" id="row-select-delete">
                    <thead>

                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Jornada</th>
                            <th>Modalidad</th>
                            <th>Tipo</th>
                            <th>Programa de formación</th>
                        </tr>

                    </thead>
                    <tbody>*@
                        
                            <tr>
                                @*<td>@Html.DisplayFor(modelItem => item.Id_ficha))</td>
                                <td>@Html.DisplayFor(model => item.Nombre_ficha)</td>
                                <td>@Html.DisplayFor(model => item.Jornada_ficha)</td>
                                <td>@Html.DisplayFor(model => item.Modalidad_ficha)</td>
                                <td>@Html.DisplayFor(model => item.tipo_ficha)</td>
                                <td>@Html.DisplayFor(model => item.Programa_formacion.Nombre_programa)</td>*@
                                @*<td>
                                    <li><a data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons href=" @Html.ActionLink("Edit", "Edit", new { id = item.Id_ficha }) " "><i data-feather="command"></i></a></li>
                                </td>

                            </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Jornada</th>
                            <th>Modalidad</th>
                            <th>Tipo</th>
                            <th>Programa de formación</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Documento_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Documento_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_instructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esinstructormaster_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esinstructormaster_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha.Jornada_ficha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
