@model ClaseDatos.Asistencia

@{
    ViewBag.Title = "Create";
}

<br />

<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3>Registrar Asistencia</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                <li class="breadcrumb-item">Asistencia                                     </li>
                <li class="breadcrumb-item active">Registrar</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <!-- Bookmark Start-->
            <div class="bookmark">
                <ul>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                    <li>
                        <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                        <form class="form-inline search-form">
                            <div class="form-group form-control-search">
                                <input type="text" placeholder="Search..">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- Bookmark Ends-->
        </div>
    </div>
</div>
          </div>
<!-- Container-fluid starts-->
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="form theme-form">
                            @*<div class="row">
            <div class="col">
                <div class="mb-3">
                    <label>Tipo Asistencia</label>
                    <input class="form-control" type="text" placeholder="Project name *">
                </div>
            </div>
        </div>*@
                           
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label>Ficha</label>
                                        <div class="input-group">
                                            @Html.DropDownList("Id_ficha", null, htmlAttributes: new { @class = "form-control" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Id_ficha, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label>Competencia</label>
                                        <div class="input-group">
                                            @Html.DropDownList("Id_competencia", null, htmlAttributes: new { @class = "form-control" })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Id_competencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Fecha Inicio</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Fecha_inicio_asistencia, new { htmlAttributes = new { @class = "form-control digits", @type = "date" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Fecha_inicio_asistencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Hora Inicio</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Hora_inicio_asistencia, new { htmlAttributes = new { @class = "form-control digits", @type = "time" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Hora_inicio_asistencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Fecha Fin</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Fecha_fin_asistencia, new { htmlAttributes = new { @class = "form-control digits", @type = "date" } })

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Fecha_fin_asistencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label>Hora Fin</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Hora_fin_asistencia, new { htmlAttributes = new { @class = "form-control digits", @type = "time" } })
                                           
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Hora_fin_asistencia, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.Id_usuario, new { Value = @Session["Idusuario"].ToString() })
                                @*<div class="col-sm-4">
            <div class="mb-3">
                <label>Ending date</label>
                <input class="datepicker-here form-control" type="text" data-language="en">
            </div>
        </div>*@
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea4">Enter some Details</label>
                                        <div class="input-group">
                                            @Html.TextAreaFor(model => model.Detalles_asistencia, new { @class = "form-control", @id = "exampleFormControlTextarea4", @rows = "3" })
                                          

                                        </div>
                                        @Html.ValidationMessageFor(model => model.Detalles_asistencia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
            <div class="col">
                <div class="mb-3">
                    <label>Upload project file</label>
                    <form class="dropzone" id="singleFileUpload" action="/upload.php">
                        <div class="dz-message needsclick">
                            <i class="icon-cloud-up"></i>
                            <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <button class="btn btn-success me-3" type="submit">Generar Qr</button>
                                        <button class="btn btn-danger" type="button">
                                            <a href="@Url.Action("Index", "Asistencias")">Cancelar</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Id_asistencia)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>

@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Asistencia</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Tipo_asistencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo_asistencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo_asistencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fecha_asistencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fecha_asistencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fecha_asistencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hora_asistencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hora_asistencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hora_asistencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_usuario, "Id_usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_usuario", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
