@model ClaseDatos.Soporte

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared-Aprendiz/_Layout.cshtml";
}

<br />

<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3>Justificacion Inasistencia</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Asistencia   </li>
                <li class="breadcrumb-item">Justificacion Inasistencia</li>
                <li class="breadcrumb-item active">Soporte</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <!-- Bookmark Start-->
            @*<div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                        <li>
                            <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                    <input type="text" placeholder="Search..">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>*@
            <!-- Bookmark Ends-->
        </div>
    </div>
</div>


<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="email-wrap">
        <div class="row">
            @*<div class="col-xl-3 col-md-6 xl-30">
                <div class="email-sidebar">
                    <a class="btn btn-primary email-aside-toggle" href="javascript:void(0)">email filter</a>
                    <div class="email-left-aside">
                        <div class="card">
                            <div class="card-body">
                                <div class="email-app-sidebar">
                                    <div class="media">
                                        <div class="media-size-email"><img class="me-3 rounded-circle" src="../assets/images/user/user.png" alt=""></div>
                                        <div class="media-body">
                                            <h6 class="f-w-600">MARKJENCO</h6>
                                            <p>Markjecno@gmail.com</p>
                                        </div>
                                    </div>
                                    <ul class="nav main-menu" role="tablist">
                                        <li class="nav-item"><a class="btn-primary btn-block btn-mail" id="pills-darkhome-tab" data-bs-toggle="pill" href="#pills-darkhome"><i class="icofont icofont-envelope me-2"></i> NEW MAIL</a></li>
                                        <li class="nav-item"><a class="show" id="pills-darkprofile-tab" data-bs-toggle="pill" href="email_inbox.html"><span class="title"><i class="icon-import"></i> Inbox</span><span class="badge pull-right">(236)</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-folder"></i> All mail</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-new-window"></i> Sent</span><span class="badge pull-right">(69)</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-pencil-alt"></i> DRAFT</span><span class="badge pull-right">(59)</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-trash"></i> TRASH</span><span class="badge pull-right">(99)</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-info-alt"></i> IMPORTANT</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-star"></i> Starred</span></a></li>
                                        <li>
                                            <hr>
                                        </li>
                                        <li><a href="#"><span class="title"><i class="icon-email"></i> UNREAD</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-export"></i> SPAM</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-share"></i> OUTBOX</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-file"></i> UPDATE</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-bell"></i> ALERT</span></a></li>
                                        <li><a href="#"><span class="title"><i class="icon-notepad"></i> NOTES</span><span class="badge pull-right">(20)</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div >
                <div class="email-right-aside">
                    <div class="card email-body">
                        <div class="email-profile">
                            <div class="email-body">
                                <div class="email-compose">
                                    <div class="email-top compose-border">
                                        @*<div class="compose-header">
                                            <h4 class="mb-0"></h4>
                                            <button class="btn btn-primary" type="button"><i class="fa fa-file me-2"></i> save</button>
                                        </div>*@
                                    </div>
                                    <div class="email-wrapper">
                                        <form class="theme-form">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Para</label>
                                                @Html.DropDownList("Id_Usuario", null, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Usuario.Nombre_usuario, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Competencia</label>
                                                @Html.DropDownList("Id_Competencia", null, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Asistencia.Competencia.Nombre_competencia, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Fecha Inasistencia</label>
                                                @Html.DropDownList("Fecha_Asistencia", null, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Asistencia.Fecha_inicio_asistencia, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Asunto</label>
                                                @Html.EditorFor(model => model.Nombre_soporte, new { htmlAttributes = new { @class = "form-control digits", @type = "text" } })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Nombre_soporte, "", new { @class = "text-danger" })
                                            
                                                @*@Html.HiddenFor(model => model.Tipo_soporte, new { id = "tipo_soporte" })*@
                                               <label class="col-sm-3 col-form-label">Subir Archivo (solo PDF)</label>
                                               <div class="col-sm-12">
                                                   @Html.EditorFor(model => model.Tipo_soporte, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                               </div>
                                            <br />

                                            <div class="form-group">
                                                <label>Mensaje</label>
                                                @*<textarea id="text-box" name="text-box" cols="10" rows="2">                                                            </textarea>*@
                                                @Html.TextAreaFor(model => model.Descripcion_soporte, new { @class = "form-control", @id = "text-box", @rows = "2", @cols = "10" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Descripcion_soporte, "", new { @class = "text-danger" })
                                            @*<div class="form-group">
            <div class="dropzone digits text-center" id="singleFileUpload" action="/upload.php">
                <div class="dz-message needsclick">
                    <i class="icon-cloud-up"></i>
                    <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                </div>
            </div>
        </div>*@

                                            @*<div class="form-group">
            @Html.HiddenFor(model => model.Tipo_soporte, new { id = "tipo_soporte" })
            <div class="dropzone digits text-center" id="singleFileUpload" action="/upload.php">
                <div class="dz-message needsclick">
                    <i class="icon-cloud-up"></i>
                    <h6>Arrastra archivos aquí o haz clic para cargar.</h6>
                    <span class="note needsclick">(Solo se permiten archivos PDF.)</span>
                </div>
            </div>
        </div>*@



                                        </form>
                                        <div class="action-wrapper">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                            @*<ul class="actions">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                                <li><a class="btn btn-secondary" href="javascript:void(0)"><i class="fa fa-paper-plane me-2"></i>send                                                   </a></li>
                                                <li><a class="btn btn-danger" href="javascript:void(0)">                                                      <i class="fa fa-times me-2"></i>cancel</a></li>
                                            </ul>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
Dropzone.options.singleFileUpload = {
    url: '@Url.Action("Upload")', // Ruta al método del controlador
    // ... (resto de la configuración de Dropzone)
    init: function() {
        this.on("success", function(file, response) {
            if (response.success) {
                $("#tipo_soporte").val(response.filePath);
            } else {
                alert(response.error);
            }
        });
    }
    };

    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Nombre_soporte)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>
<!-- Container-fluid Ends-->
@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Soporte</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_asistencia, "Id_asistencia", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_asistencia", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_asistencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
