@model ClaseDatos.Soporte

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared-Aprendiz/_Layout.cshtml";
}

<br />

<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3>Justificacion Inasistencia</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Asistencia   </li>
                <li class="breadcrumb-item">Justificacion Inasistencia</li>
                <li class="breadcrumb-item active">Soporte</li>
            </ol>
        </div>
        <div class="col-sm-6">
         
        </div>
    </div>
</div>


<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="email-wrap">
        <div class="row">
          
            @using (Html.BeginForm("Create", "JustificacionInasistencia", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div>
                <div class="email-right-aside">
                    <div class="card email-body">
                        <div class="email-profile">
                            <div class="email-body">
                                <div class="email-compose">
                                    <div class="email-top compose-border">
                                        
                                    </div>
                                    <div class="email-wrapper">
                                        <form class="theme-form">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Para</label>
                                                @Html.DropDownList("Id_Usuario", null, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Id_Instructor, "", new { @class = "text-danger" })


                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Fecha Inasistencia</label>
                                                @Html.DropDownList("Fecha_Asistencia", null, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Id_asistencia, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Asunto</label>
                                                @Html.EditorFor(model => model.Nombre_soporte, new { htmlAttributes = new { @class = "form-control digits", @type = "text" } })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Nombre_soporte, "", new { @class = "text-danger" })

                                            @*@Html.HiddenFor(model => model.Tipo_soporte, new { id = "tipo_soporte" })*@
                                            <label class="col-sm-3 col-form-label">Subir Archivo (solo PDF)</label>
                                            <div class="col-sm-12">
                                                @Html.TextBox("archivo", null, new { @class = "form-control", @type = "file" })

                                                @*@Html.ValidationMessageFor(model => model.Tipo_soporte, "", new { @class = "text-danger" })*@
                                            </div>
                                            <br />

                                            <div class="form-group">
                                                <label>Mensaje</label>
                                                @*<textarea id="text-box" name="text-box" cols="10" rows="2">                                                            </textarea>*@
                                                @Html.TextAreaFor(model => model.Descripcion_soporte, new { @class = "form-control" })

                                            </div>
                                            @Html.ValidationMessageFor(model => model.Descripcion_soporte, "", new { @class = "text-danger" })
                                                                          
                                            

                                            @Html.HiddenFor(model => model.Id_usuario, new { Value = @Session["Idusuario"].ToString() })

                                        </form>
                                        <div class="action-wrapper">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script>
Dropzone.options.singleFileUpload = {
    url: '@Url.Action("Upload")', // Ruta al método del controlador
    // ... (resto de la configuración de Dropzone)
    init: function() {
        this.on("success", function(file, response) {
            if (response.success) {
                $("#tipo_soporte").val(response.filePath);
            } else {
                alert(response.error);
            }
        });
    }
    };

    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Nombre_soporte)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>
<!-- Container-fluid Ends-->
@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Soporte</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_asistencia, "Id_asistencia", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_asistencia", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_asistencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
