@model ClaseDatos.Soporte

@{
    Layout = "~/Views/Shared-Aprendiz/_Layout.cshtml";
}


<br />

<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3>Justificacion Inasistencia</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Asistencia   </li>
                <li class="breadcrumb-item">Justificacion Inasistencia</li>
                <li class="breadcrumb-item active">Soporte</li>
            </ol>
        </div>
        <div class="col-sm-6">
            <!-- Bookmark Start-->
            @*<div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                        <li>
                            <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                    <input type="text" placeholder="Search..">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>*@
            <!-- Bookmark Ends-->
        </div>
    </div>
</div>


<!-- Container-fluid starts-->

<div class="email-wrap">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-30">
            <div class="email-sidebar">
                <a class="btn btn-primary email-aside-toggle" href="javascript:void(0)">email filter</a>
                <div class="email-left-aside">
                    <div class="card">
                        <div class="card-body">
                            <div class="email-app-sidebar">
                                <div class="media">
                                    <div class="media-size-email"><img class="me-3 rounded-circle" src="../assets/images/user/user.png" alt=""></div>
                                    <div class="media-body">
                                        <h6 class="f-w-600">Dilan Buitrago</h6>
                                        <p>dilanbuigar@gmail.com</p>
                                    </div>
                                </div>
                                <ul class="nav main-menu" role="tablist">
                                    <li class="nav-item"><a class="btn-primary btn-block btn-mail w-100" id="pills-darkhome-tab" data-bs-toggle="pill" href="#pills-darkhome" role="tab" aria-controls="pills-darkhome" aria-selected="true"><i class="icofont icofont-envelope me-2"></i> Fichas</a></li>
                                    <li class="nav-item"><a class="show" id="pills-darkprofile-tab" data-bs-toggle="pill" href="#pills-darkprofile" role="tab" aria-controls="pills-darkprofile" aria-selected="false"><span class="title"><i class="icon-import"></i> Bandeja de Entrada</span><span class="badge pull-right">(236)</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-folder"></i> 2693606</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-new-window"></i> 2693607</span><span class="badge pull-right">(69)</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-pencil-alt"></i> 2874841</span><span class="badge pull-right">(59)</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-trash"></i> 1875476</span><span class="badge pull-right">(99)</span></a></li>
                                    <li>
                                        <hr>
                                    </li>
                                    <li><a href="#"><span class="title"><i class="icon-email"></i> No leidos</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-export"></i> Leidos</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-share"></i> Validos</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-file"></i> Aceptados</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-bell"></i> Rechazados</span></a></li>
                                    <li><a href="#"><span class="title"><i class="icon-notepad"></i> NOTES</span><span class="badge pull-right">(20)</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-md-12 xl-70">
            <div class="email-right-aside">
                <div class="card email-body">
                    <div class="email-profile">
                        <div class="email-right-aside">
                            <div class="email-body">
                                <div class="email-content">
                                    <div class="email-top">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="media">
                                                    <img class="me-3 rounded-circle" src="../assets/images/user/user.png" alt="">
                                                    <div class="media-body">
                                                        <h6 class="d-block">Sara Angarita                                                             </h6>
                                                        <p>Ficha - 2693606.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="email-wrapper">
                                        <div class="emailread-group">
                                            <div class="read-group">
                                                <p>Hola</p>
                                                <p>Instructor Buenas Tardes,</p>
                                            </div>
                                            <div class="read-group">
                                                <h5>Falte a clases del jueves por motivo de cita medica.</h5>
                                                <p>
                                                    Me encuentro en reposo absoluto bajo tratamiento médico con pronostico de recuperación favorable.
                                                    <br />
                                                    He adjuntado certificado médico y la incapacidad como comprobante de mi condición.
                                                    <br />
                                                    <br />
                                                    Me disculpo por cualquier inconveniente que mi ausencia pueda ocasionar. He tomado las medidas necesarias para que mis tareas sean cubiertas durante mi ausencia y me pondré al día con cualquier trabajo pendiente a mi regreso.
                                                </p>
                                                <br />
                                                <br />
                                                <p class="m-t-10">
                                                    Agradezco su comprensión y espero reincorporarme a mis labores a la brevedad posible.
                                                    <br />
                                                    Atentamente,
                                                    <br />
                                                    Sara Angarita
                                                </p>
                                            </div>
                                        </div>
                                        <div class="emailread-group">
                                            <h6 class="text-muted mb-0"><i class="icofont icofont-clip"></i> Archivos</h6><a class="text-muted text-end right-download font-primary f-w-600" href="#"><i class="fa fa-long-arrow-down me-2"></i>Descargar Todos</a>
                                            <div class="clearfix"></div>
                                            <div class="attachment">
                                                <ul>
                                                    <li><img class="img-fluid" src="../assets/images/email/PdfIcon.png" alt=""></li>
                                                    <li><img class="img-fluid" src="../assets/images/email/PdfIcon.png" alt=""></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="emailread-group">
                                            <textarea class="form-control" rows="4" cols="50" placeholder="Escribe Una Respuesta..."></textarea>
                                            <div class="action-wrapper">
                                                <ul class="actions">
                                                    <li><a class="btn btn-danger" href="javascript:void(0)"><i class="fa fa-reply me-2"></i>Rechazar</a></li>
                                                    @*<li><a class="btn btn-secondary" href="javascript:void(0)"><i class="fa fa-reply-all me-2"></i></a></li>*@
                                                    <li><a class="btn btn-primary" href="javascript:void(0)"><i class="fa fa-share me-2"></i>Validar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Id_soporte)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>

@*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Soporte</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_soporte)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo_soporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo_soporte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo_soporte, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_asistencia, "Id_asistencia", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_asistencia", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_asistencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
