@model IEnumerable<ClaseDatos.Soporte>

@{
    ViewBag.Title = "Index";
}

<br/>
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Justificacion Inasistencia</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">Asistencia   </li>
                        <li class="breadcrumb-item">Justificacion Inasistencia</li>
                        <li class="breadcrumb-item active">Consultar</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                 
                </div>
            </div>
        </div>


    <div class="email-wrap">
        <div class="row">
            <div class="col-xl-3 col-md-6 xl-30">
                <div class="email-sidebar">
                    <a class="btn btn-primary email-aside-toggle" href="javascript:void(0)">email filter</a>
                    <div class="email-left-aside">
                        <div class="card">
                            <div class="card-body">
                                <div class="email-app-sidebar">
                                    <div class="media">
                                        <div class="media-size-email"><img class="me-3 rounded-circle" src="../assets/images/user/user.png" alt=""></div>
                                        <div class="media-body">
                                            <h6 class="f-w-600">@Session["NombreUsuario"].ToString()</h6>
                                            <p>@Session["CorreoUsuario"].ToString()</p>
                                        </div>
                                    </div>
                                    <ul class="nav main-menu" role="tablist">

                                        <li class="nav-item"><a class="btn-primary btn-block btn-mail w-100" id="pills-darkhome-tab" data-bs-toggle="pill" href="#pills-darkhome" role="tab" aria-controls="pills-darkhome" aria-selected="true"><i class="icofont icofont-envelope me-2"></i> Fichas</a></li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Bandeja de entrada</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="pills-leidos-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Leídos</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="pills-aceptados-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Aceptados</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="pills-rechazados-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Rechazados</a>
                                        </li>




                                        <li>

                                            <hr>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-12 xl-70">
                <div class="email-right-aside">
                    <div class="card email-body">
                        <div class="email-profile">
                            <div>
                                <div class="pe-0 b-r-light"></div>
                                <div class="email-top">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="media">
                                               
                                                <div class="media-body">
                                                    <div class="dropdown">
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inbox">
                                    <div id="tabla-soportes">
                                        @foreach (var item in Model)
                                        {
                                            <div class="media soporte-item" data-estado="@(item.Validacion_Instructor)">
                                                <div class="media-size-email">
                                                    <i class="like" data-feather="star"></i>
                                                    <img class="me-3 rounded-circle" src="../assets/images/user/user.png" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h6>
                                                        <a  
                                                           href="@Url.Action("Edit", "JustificacionInasistencia", new { id = item.Id_soporte })">
                                                            @Html.DisplayFor(modelItem => item.Usuario.Nombre_usuario) @Html.DisplayFor(modelItem => item.Usuario.Apellido_usuario)
                                                        </a>
                                                    </h6>
                                                    <p>@Html.DisplayFor(modelItem => item.Nombre_soporte)</p>
                                                    <span>@Html.DisplayFor(modelItem => item.Hora_registro)</span>
                                                </div>
                                            </div>
                                        }
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        $(".nav-link").click(function (e) {
            e.preventDefault();
            var estado = $(this).attr("id").replace("pills-", "").replace("-tab", "");

            $.ajax({
                url: '@Url.Action("Index")',
                data: { estado: estado },
                type: 'GET',
                success: function (data) {
                    // Filtrar los elementos existentes en lugar de reemplazar todo el contenido
                    $(".soporte-item").hide();
                    for (var i = 0; i < data.length; i++) {
                        var selector = '.soporte-item[data-estado="' + data[i].Validacion_Instructor + '"]';
                        $(selector).show();
                    }
                }
            });
        });
    
        $(".soporte-item[data-estado='null']").show();
    });

    </script>
