@model ClaseDatos.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Documento_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Documento_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_instructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha.Jornada_ficha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
