@model ClaseDatos.Usuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared-Instructor-admin/_Layout.cshtml";
}



<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Gestionar Intructor</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                    <li class="breadcrumb-item">Intructor</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <!-- Bookmark Start-->
                <div class="bookmark">
                    <ul>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                        <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                        <li>
                            <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                    <input type="text" placeholder="Search..">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Bookmark Ends-->
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Registrar Aprendiz</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                @Html.AntiForgeryToken()
                                <form>
                                    @Html.HiddenFor(model => model.Id_usuario)
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Documento</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Documento_usuario, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Documento_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Tipo Documento</label>
                                        <div class="input-group">
                                            <span class="input-group-text">A</span>
                                            @Html.DropDownListFor(model => model.Tipo_Documento_usuario, new List<SelectListItem>
                                                {
                                                     new SelectListItem { Text = "Cedula de Ciudadania", Value = "C.C" },
                                                     new SelectListItem { Text = "Tarjeta de Identidad", Value = "T.I" },
                                                     new SelectListItem { Text = "Cedula de Extranjeria", Value = "C.E" }
                                                }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Tipo_Documento_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Nombre(s)</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Nombre_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Apellidos</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Apellido_usuario, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Apellido_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Telefono</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Telefono_usuario, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Telefono_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Correo</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Correo_usuario, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Correo_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Contraseña</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Contrasena_usuario, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Contrasena_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 m-form__group">
                                        <label class="form-label">Tipo Instructor</label>
                                        <div class="input-group">
                                            <span class="input-group-text">A</span>
                                            @Html.DropDownListFor(model => model.Tipo_usuario, new List<SelectListItem>
                                                {
                                                     new SelectListItem { Text = "Instructor", Value = "Instructor" },
                                                     new SelectListItem { Text = "Instructor Administrador", Value = "InstructorAdmin" }


                                                }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Tipo_usuario, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="mb-3 input-group-solid">
                                        <label class="form-label">Estado Usuario</label>
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.Estado_Usuario, new List<SelectListItem>
                                                {
                                                     new SelectListItem { Text = "Activo", Value = "True" },
                                                     new SelectListItem { Text = "No Activo", Value = "False" },
                                                }, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary m-r-15" type="submit">Submit</button>
                        <button class="btn btn-light" type="button"><a href="@Url.Action("Index","UsuariosInstructor")">Cancelar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    // Elimina el atributo 'readonly' al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('@Html.IdFor(model => model.Nombre_usuario)').removeAttribute('readonly');
    });
    document.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.removeAttribute('readonly');
        });
    });
</script>
@*<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_usuario)

        <div class="form-group">
            @Html.LabelFor(model => model.Documento_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Documento_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Documento_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_Documento_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo_Documento_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo_Documento_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correo_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correo_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_instructor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo_instructor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo_instructor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_ficha, "Id_ficha", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_ficha", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_ficha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Esinstructormaster_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Esinstructormaster_usuario)
                    @Html.ValidationMessageFor(model => model.Esinstructormaster_usuario, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contrasena_usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contrasena_usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contrasena_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
