@model ClaseDatos.Usuario

@{
    ViewBag.Title = "Details";
}

<br />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Gestionar Aprendices</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Instructor")">Home</a></li>
                    <li class="breadcrumb-item">Aprendiz</li>
                    <li class="breadcrumb-item">General</li>
                    <li class="breadcrumb-item active">Detalles</li>
                </ol>
            </div>
            <div class="col-sm-6">
              
             
             
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Detalles Aprendiz</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                @Html.AntiForgeryToken()
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Documento</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Documento_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Tipo Documento</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Tipo_Documento_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Nombre</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Nombre_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Apellido</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Apellido_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Telefono</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Telefono_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Correo</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Correo_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Contraseña</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@Html.DisplayFor(model => model.Contrasena_usuario)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Estado</label>
                                                <input class="form-control" id="exampleInputPassword22" type="text" disabled="" placeholder="@(Model.Estado_Usuario ?? false ? "Activo" : "No Activo")">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @*<button class="btn btn-primary m-r-15" type="button" id="buttonedit">@Html.ActionLink("Edit", "Edit", new { id = Model.Id_usuario })</button>*@
                        <button class="btn btn-light" type="button"><a href="@Url.Action("Index","UsuariosAprendiz")">Volver</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Documento_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Documento_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_instructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esinstructormaster_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esinstructormaster_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha.Jornada_ficha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
